pid
*.class
*.dll
*.exe
*.o
*.so
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
#Logs and databases
*.log
*.sql
*.sqlite
DS_Store
*.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
/nbproject/
/.buildpath
/.project
/.settings
/.idea
/.env
/public/bundles/
/var/
/composer.phar
/vendor/
.phpunit
/phpunit.xml
/.web-server-pid
dump.rbd
.directory
/node_modules/
